@inherits MdcComponentBase
@inject IJSRuntime jsRuntime
<button @attributes="@Attributes" title="@Title" type="@Type" @ref="buttonElem" disabled="@(!Enabled)" class="mdc-icon-button material-icons @Class" data-mdc-dialog-action="@DialogAction" @onclick="@OnClick">
    @Icon
</button>
@functions {

    ElementRef buttonElem;

    [Parameter] string Title { get; set; } = "";
    [Parameter] string Type { get; set; } = "button";
    [Parameter] bool Enabled { get; set; } = true;
    [Parameter] string Icon { get; set; }
    [Parameter] EventCallback OnClick { get; set; }
    [Parameter] string Class { get; set; }
    [Parameter] string DialogAction { get; set; }

    protected override Task OnAfterFirstRenderAsync()
        => jsRuntime.InvokeAsync<object>("BlazorMaterial.iconButton.init", buttonElem);

}
