@inherits MdcComponentBase
@inject IJSRuntime jsRuntime
<button @attributes="@AdditionalAttributes" title="@Title" type="@Type" @ref="buttonElem" @ref:suppressField  disabled="@(!Enabled)" class="mdc-icon-button material-icons @Class" data-mdc-dialog-action="@DialogAction" @onclick="@OnClick">
    @Icon
</button>
@code {

    ElementReference buttonElem;

    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public bool Enabled { get; set; } = true;
    [Parameter] public string Icon { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string Class { get; set; }
    [Parameter] public string DialogAction { get; set; }

    protected override Task OnAfterFirstRenderAsync()
        => jsRuntime.InvokeAsync<object>("BlazorMaterial.iconButton.init", buttonElem);

}
